@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400;1,600&display=swap');
@font-face {
  font-family: 'QuincyCF';
  src: local(QuincyCF-RegularItalic),
    url('./utils/fonts/QuincyCF-RegularItalic.otf') format('truetype');
}
@font-face {
  font-family: 'AirbnbCereal';
  src: local(AirbnbCerealBook),
    url('./utils/fonts/AirbnbCerealBook.ttf') format(truetype);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'FontSpring';
  src: local(FontSpring), url('./utils/fonts/FontSpring.otf') format(truetype);
}
body {
  margin: 0;
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.background::before,
.background::after {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
.background::before {
  z-index: 1;
}
.background::after {
  z-index: -1;
}

.fadeIn {
  animation: fadeIn 3s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
